    <!-- LOCAL JS -->
    <div class="flex footer">
        <div class="">
            <a href="https://github.com/brendenm2573"><i class="fab fa-github-square"></i></a>
            <a href="https://www.linkedin.com/in/brenden-miller-5a71a1149/"><i class="fab fa-linkedin"></i></a>
            <a><i class="fab fa-instagram"></i></a>
        </div>
        <div class="namePlate">
            Brenden Miller
        </div>
    </div>
    <script type="text/javascript" src="/js/portfolio.js"></script>
    </body>
</html>