<% include ./partials/header %>
<!-- NAV -->
<nav class="flex">
    <div class="navWrap">
        <a id="homeNav" class="navTab active" dest="home">
            Home
        </a>
        <a id="aboutNav" class="navTab" dest="about">
            About
        </a>
        <a id="portfolioNav" class="navTab" dest="portfolio">
            Portfolio
        </a>
        <a id="blogNav" class="navTab" dest="blog">
            Blog
        </a>
    </div>
</nav>
<div class="flex">
    <!-- TABS -->
    <div class="tab active" id="home" style="padding-bottom: 0">
        <% include ./partials/tabs/home %>
    </div>
    <div class="tab" id="about">
        <% include ./partials/tabs/about %>
    </div>
    <div class="tab" id="portfolio">
        <% include ./partials/tabs/portfolio %>
    </div>
    <div class="tab" id="blog">
        <% include ./partials/tabs/blog %>
    </div>
</div>
<% include ./partials/footer %>