<div class="flex row">
    <div class="col">
        <img id="profile" src="imgs\9934.JPG" alt="avatar">
    </div>
    <div class="col">
        <div class="text">
           <h3>Who am I?</h3>
           <p>Computer Science graduate with a passion for cooking, exercise, and interactive, fast website design. Currently working days as a database developer and nights as a web dev.</p>
        </div>
    </div>
</div>
<hr>
<div class="flex">
    <div class="aboutText">
        <ul>
            <li><i class="fab fa-js"></i>|Javascript</li>
            <li><i class="fas fa-database"></i>|T-SQL</li>
            <li><i class="fab fa-node-js"></i>|Node.js</li>
            <li><i class="fab fa-html5"></i>|HTML</li>
            <li><i class="fab fa-css3-alt"></i>|CSS</li>
            <li><i class="fab fa-react"></i>|React-Native</li>
            <li><i class="fas fa-drafting-compass"></i>|UI Design</li>
            <li><i class="fab fa-searchengin"></i>|SEO</li>
            <li><i class="fab fa-java"></i>|Java</li>
        </ul>
    </div>
</div>

