<div class="flex row">
    <div class="col">
        sdad
    </div>
    <div class="col">
        dasdas
    </div>
</div>
<div class="flex row">
    <div class="col">
        dasdas
    </div>
    <div class="col">
        dasdas
    </div>
</div>

