<div class="flex row">
    <div class="col">
        <div class="cardWrap">
            <h2>Languages</h2>
            <ul>
                <li>Javascript</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Java</li>
                <li>SQL</li>
                <li>C++</li>
                <li>C#</li>
            </ul>
        </div>
    </div>
    <div class="col">
       <div class="cardWrap">
           <h2>Frameworks</h2>
           <ul>
               <li>Node.js</li>
               <li>Express</li>
               <li>MongoDB</li>
               <li>EJS</li>
               <li>Semantic-UI</li>
               <li>React-Native</li>
               <li>Google Firebase</li>
               <li>Bootstrap</li>
           </ul>
        </div>
    </div>
</div>
<div class="flex row">
    <div class="col">
       
    </div>
    <div class="col">
       
    </div>
</div>

