<div class="flex">
        <div class="card">
            <img src="">
            <div class="textArea">
                <h5>5/08/2019</h5>
                <h2>Weight: 153</h2>
                <p>The impending doom of knowing I have to lose weight for the summer had been hanging over me for so long I was no longer dreading it. Through my lack of control during our calorie surplus, I had put on more than a few unwanted pounds. Granted, I had gained a lot of muscle and strength, but that didn’t excuse the gut that had come with it. It was finally time to bite the bullet and get into proper shape. Looking back at it, I should have started my fitness journey with the weight loose, I should have lean bulked and stayed at an attractive weight instead of a husky one.</p>
                <p>I started slow, dropping my calories to 2200, 500 under what I thought my bodies total daily energy expenditure was. It was grueling, I was used to eating so much, all the time. No more snacks, no more dessert, and no more fast food. Everything was out, everything was controlled. Soon I learned the true value of the food I consumed, how easy it was to get my entire daily allowed calories in a single meal. When you have a set amount of calories, everything you eat starts to matter more. The only calories I truly began to crave were healthy ones. I wanted vegetables, I wanted complex carbs to fill me up and last. Of course I craved grease and sugar, everyone does, but I knew how empty those calories were. More importantly I knew how those calories made me look. </p>
                <p>After dropping to 2000 for a month, then 1600 for a week, I’m going to take a different approach with the last month of cutting weight. My gym partner and I both agreed that it would be better to go up a bit in calories and start finding out our true total daily energy expenditure. I have hit around ten percent body fat and want to continue toning my body while also increasing strength. Around June, I plan to start a slow lean bulk to continue out the summer. I want to maintain a low body fat and learn to gain muscle in that state.  </p>
            </div>
        </div>

        <div class="card">
            <img src="https://images.unsplash.com/photo-1472555950005-7fa40ece7f6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            <div class="textArea">
                <h5>Bulking means eating what I want, right?</h5>
                <h5>3/14/2019</h5>
                <h2>Weight: 167</h2>
                <p>Our journey into body building had really opened the door for passion. During these months of transition to a hypertrophy centered regimen, I ended up landing a job as a Database Developer for a local company. This meant a more ridged lifting schedule, but more importantly, this meant that I had more income to put towards half of the equation. And so, we started meal prepping. </p>
                <p>I am by no means the kind of person to only put in fifty percent effort when I have a passion for it. Cooking and fitness combined two already existing passions into one act. Spending my Sundays in the kitchen preparing the entire weeks meals has been and will continue to be one of the most enjoyable experiences I have ever had the chance to take part in. With my diet right, I was able to see instant progress in both my lifts and my weight. </p>
                <p>We were doing a self-designed push pull legs split that focused on higher rep ranges. Legs were always my focus as they were my weakest. They needed the most attention and so I showed them what they deserved. There really is no feeling like having to throw a pair of pants away because your thighs no longer fit into them. Even though I had given myself all the tools needed to succeed both in and out of the gym, I had one big problem still. I probably will always have inclinations toward binge eating and learning to control them going forward will be the most difficult challenges I have ever put myself through. </p>
            </div>
        </div>

        <div class="card">
            <img src="https://images.unsplash.com/photo-1526405294019-7f3f7c8c7867?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
            <div class="textArea">
                <h5>12/01/2018</h5>
                <h5>Weight: 155</h5>
                <h2>Lift Heavy</h2>
                <p>What does someone with motivation to get strong, a serious appetite, and way too much time do? There is only one answer, Power Lift. My gym partner, the person I have spent my entire life looking up to, also had free time to put towards working out. He was the one who pulled me away from my love of bouldering to power lift and he’s the one who has pushed me harder than anyone else ever has. Together we dove head first into getting stronger. Our lifts were embarrassingly low and we knew we could do better.</p>
                <p>All of my research pointed me at a 5x5 progressive overload with compound movements. The golden three workouts I knew I had to focus on were the bench press, the deadlift, and my weakest, the squat. The one thing I didn’t even pretend to know, was how to correctly do these movements. They are the most core movements and perfecting these movements can take a lifetime. I started off by doing research, which pointed in many different directions, and then applied this to my lifts. I would see how my body reacted and most importantly, how my body felt. Slowly I started to understand the movements and which muscles to engage. I also threw in isolation movements with higher rep ranges to build a bit of size. I couldn’t have all this strength and be a twig of a thing.</p>
                <p>Although my lifts were going up, there was one thing that was still bothering me. My joints were crying, they were in protest of the stress they were being put under. A bit more than two months of power lifting, I came to a hard conclusion. I did not have the base understanding of the movements and I did not have the base strength to push myself as hard and heavy as I wanted. So we decided to take things in a similar, but different direction. Lifting for pure aesthetics, body building. </p>
            </div>
        </div>
    <div class="card">
        <img src="https://images.unsplash.com/photo-1534368420009-621bfab424a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
        <div class="textArea">
            <h5>10/05/2018</h5>
            <h5>Weight: 162</h5>
            <h2>Prelude</h2>
            <p>In an attempt to capture my progress and knowledge of weight lifting, I have decided to publish this blog. I want to be able to look back at who I was to who I have become. On days when my body aches, when I have lost all motivation to make it to the gym, I want somewhere to look at. Something to hold me to my words. Although I have the best gym partner imaginable, someone who works harder than I do, an external source is permanent. </p>
            <p>There’s really only one place to start, my first attempt at gaining weight. Of course I went directly into gaining weight even though I was already overweight. I wanted to start out as heavy as possible instead of learning the movements properly. I wanted to do a lot of things that are not idea for long term success in weight lifting. All of this because I was impatient of course. I wanted results, I wanted to be strong, and I wanted to be fit. </p>
            <p>The first week of serious, five days a week working out, I hurt my shoulder so bad I had to take a month off of upper body movements. I deserved this of course, I had been an absolute potato and done everything wrong. So during my down time I started to take my research serious. I knew I wanted to continue a path of fitness and health and that would mean planning for the long term. So here is what I learned, what I continue to work on, and what I practice in my everyday life.</p>
        </div>
    </div>
    

    <!-- <div class="card">
        <img src="">
        <div class="textArea">
            <h5></h5>
            <h2></h2>
            <p></p>
            <p></p>
        </div>
    </div> -->
</div>
