<div class="flex">
    <div class="card">
        <img src="https://images.unsplash.com/photo-1502747220144-846486e80891?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80">
        <div class="textArea">
            <h5>4/17/2019</h5>
            <h2>Breaking in a New Mentality</h2>
            <p>Living in a word with seemingly endless hobbies to take part in, I have struggled to find a way to balance my interests with life. Often I will be consumed by whatever new interests held my attention for more than a few minutes. I have always lived my life this way, floating from one interests into the next, until recently. While reading a bit of reddit in the morning, I happened upon a line that stuck with me like glue. "I try to have three hobbies: one that brings me joy, one that brings me health, and one that brings me money."</p>
            <p>Planning long term has never been something I took pride in. I have always been under the impression that by the time I get to my plans, life will have changed so drastically that the plans will become null. Plans, however, are the driving force behind the daily struggle of life. Without something to look forward to, I do not put my one hundred percent into what I do. I do not wake up with a smile on my face ready to take on the days tasks with every bit of capability within me. Today, yesterday, tomorrow, I wake up with a smile on my face. I wake up to tasks ready to be done and a future waiting for my arrival.</p>
        </div>
    </div>
    <!-- <div class="card">
        <img src="">
        <div class="textArea">
            <h5></h5>
            <h2></h2>
            <p></p>
            <p></p>
        </div>
    </div> -->
</div>
