<div class="flex homeWrap">
    <h1>Brenden Miller</h1>
    <h2>Full-stack Web Developer</h2>
    <a id="contactButton">Contact</a>
</div>
<hr>
<div class="flex contactWrap">
    <form>
        <div class="flex container">
            <input class="input" type="text" name="contactName" placeholder="Name">
            <input class="input" type="email" name="contactEmail" placeholder="Email">
            <textarea class="input" name="contactDesc" placeholder="Please leave problem description."></textarea>    
            <input class="input button" type="submit" name="submit">
        </div>
    </form>
</div>   