<div class="flex homeWrap">
    <h1>Brenden Miller</h1>
    <h3>Full-Stack Web Developer</h3>
    <a id="contactButton">Contact</a>
</div>
<hr>
<div class="flex contactWrap">
    <form method="" id="contactForm">
        <div class="flex container">
            <input class="input" type="text" id="name" name="name" placeholder="Name">
            <input class="input" type="text" id="name" name="name" placeholder="Email">
            <textarea class="input" id="message" name="message" placeholder="Please leave problem description."></textarea>    
            <input class="input button" type="submit" name="submit">
        </div>
    </form>
    
</div>   